html, body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  overscroll-behavior: none;
  height: 100vh;
}

.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.gl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 40px 50px;
  box-sizing: border-box;
}

.subtitle {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.glh {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.glh__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}
.glh__logo {
  margin-top: 30px;
  font-weight: 500;
}
.glh__nav-link {
  display: flex;
  align-items: center;
  font-family: "Pretendard Variable";
  font-size: 16px;
  color: #222;
  letter-spacing: -1px;
  line-height: 1.2;
  opacity: 0.8;
}
.glh__nav-link.active {
  opacity: 1;
}
.glh__nav-link.active i {
  width: auto;
}
.glh__nav-link i {
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}
@media (min-width: 1025px) {
  .glh__nav-link:hover {
    opacity: 1;
  }
  .glh__nav-link:hover i {
    width: 20px;
  }
}
.glh__index-list {
  margin-top: 30px;
}
.glh__index-link {
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 500;
  color: #222;
  line-height: 1.1;
  letter-spacing: -1px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media (min-width: 1025px) {
  .glh__index-link:hover {
    opacity: 1;
  }
}

.glf {
  display: flex;
  justify-content: flex-end;
}
.glf .subtitle {
  width: 37%;
}
.glf__link {
  color: #222;
  opacity: 0.8;
  transition: opacity 0.3s;
}
@media (min-width: 1025px) {
  .glf__link:hover {
    opacity: 1;
  }
}